<h1> All Users </h1>

 <%= will_paginate %>
<ul class="users">

	<% @users.each do |user|%>
	<%= render 'user', :user => user%> <!-- Equivalent to @users.each then render 'user', user -->
	<% end %>
</ul>

<%= will_paginate %>