<table class="profile" summary= "Profile Information" >
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<tr>
<td class="sidebar round">
	<strong>Name</strong> <%= @user.name %> <br />
	<strong> URL </strong> <%= link_to user_path(@user), @user %>
</td>
</tr>

</table>